.App {
  text-align: center;
}

.upperbox {
  background-color: silver;
  box-shadow: inset rgb(0, 0, 0);
  width: 100vw;
  height: 50vh;
  box-sizing: border-box;
  border-radius: 10%;
  padding-top: 5vh;
  padding-right: 10vw;
  padding-left: 10vw;
  text-align: left;
}
.lowerbox {
  background-color: rgb(126, 125, 125);
  box-shadow: rgb(241, 239, 239);
  width: 100vw;
  height: 50vh;
  box-sizing: border-box;
  border-radius: 10%;
  padding: 20%;
}
.lowerbox > a:link , a:visited {
  padding:3vh 7vw;
  width: 50vw;    
  box-sizing: border-box;
  border-radius: 10%;
  border-color: silver;
  margin: 10px;
}
.invBar {
  width: 100vw;  
  background-color: #DADADA !important;
  border-color: silver !important;
  color: black !important;
  border-radius: 0% 30px 30px 0% !important;
  margin-top: 2px;
}
.btn-group {
  left: 1vw;
  right: 1vw;
  align-content: center;
  bottom: 53px;  
  display: block !important;
  position: fixed !important;
}
.container {
  height: 100vh;
}
