.App {
  text-align: center;
}
.Main {
  background-color: #bae8e8;
  height: 200%;
  min-height: 100vh;
}
.upperbox {
  background-color: #e3f6f5;
  box-shadow: inset rgb(0, 0, 0);
  width: 100vw;
  height: 50vh;
  box-sizing: border-box;
  border-radius: 10%;
  padding-top: 5vh;
  padding-right: 10vw;
  padding-left: 10vw;
  text-align: left;
}
.lowerbox {
  background-color: #97c6f1;
  box-shadow: rgb(241, 239, 239);
  width: 100vw;
  height: 50vh;
  box-sizing: border-box;
  border-radius: 10%;

}
.lowerbox > a:link , a:visited {
  padding:3vh 7vw;
  width: 50vw;    
  box-sizing: border-box;
  border-radius: 10%;
  border-color: silver;
  margin: 10px;
}
.invBar {
  width: 100vw;  
  background-color: #bae8e8 !important;
  border-color: silver !important;
  color: black !important;
  border-radius: 0% 30px 30px 0% !important;
  margin-top: 2px;
  margin-bottom: 6px;
  height: 7vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

.btn-secondary {
  color: #272343 !important;
  background-color: #e3f6f5 !important;
}
.container {
  background-color: #bae8e8;
  padding-left: 0 !important;
  padding-right: 0 !important;
  min-height: 100vh;
  height: 100% !important;
  margin: 0 !important;
  width: 100vw;
}
.listItem {
  width: 100vw !important;
  padding-right: 5vw !important;
  height: fit-content;
  background-color: #bae8e8;  
}

.lightState {
  background-color: rgb(96, 152, 204) !important;
  box-shadow: cadetblue !important;
}

.row {
  margin: 0 !important;
}
.SignSpace {
  
  width: 80vw;
  align-content: center;
  position: relative;
  margin-top: 10vh;
  padding-left: 10vw !important;
  padding-right: 10vw !important;
}
.lowerbox > .btn-group {
  box-sizing: content-box !important;
}