.icons {
    border-radius: 50%;
    width: 23vw;
    height: 23vw;       
    margin-top: 7.5vh;
    margin-bottom: 2.5vh;
    padding: 1px;    
    background-color: silver;
}
.userEdit {
    border-radius: 50%;
    width: 40vw;
    max-width: 50px;
    height: 40vw; 
    max-height: 50px;   
    padding: 1px;
    background: silver;
}
.iconsUser {
    border-radius: 50%;
    max-width: 150px;
    max-height: 150px;
    width: 20vw;
    height: 20vw;       
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    padding: 1px;    
    background-color: silver;
}
.col {
    padding: 0 !important;    
}
.col > .nav-link{
    padding: 0;
}
.notiv{
    width:3rem;
    height: 3rem;
    font-size: 1.75rem;
    border-radius: 50% 50% 50% 10%;
    vertical-align: bottom;    
}
.homeRow {
    width: 100vw;
    height: 45vh;
    padding-left: 15px;
    padding-right: 15px;
}
.homeSquare {
    width: 45vw;
    height: 45vh;
    padding: 10px;
    border-radius: 10%;    
}
.homeSquare > .nav-link {
    color: rgb(87, 87, 87);
}
.HomePage {
    padding-top: 52px;;
}
.list-group-item {
    background-color: rgba(99, 201, 226, 0.308);
    border-left: rgba(127, 255, 212, 0);
    border-right: rgba(127, 255, 212, 0);
}
.badge-pill {
    background-color: rgba(255, 52, 52, 0.664);
}
.list-group {
    height: 30vh;
    overflow-y: scroll;
}
.profile {
    height: fit-content;
    overflow-y: scroll;
}
.profile > .list-group-item {
    background-color: white;
}