.invItem >.card-img { 
    height: 45vw;
    width: 45vw;    
    align-items: center;
}
.invItem {
    width: 45vw !important;
    height: 45vw !important;
    border-color:rgba(96, 116, 158, 0.247) !important;
    background-color: rgb(103, 238, 243) !important;
    border-radius: 10%;      
    overflow: hidden !important;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    float: left;
    margin-bottom: 2.5vh;
}
.itemHead{
    width: 45vw !important;
    height: 10vw !important;
    left: 0;
    right: 0;
    align-content: center;
    top: 0;
    position: absolute !important;
    padding: 0 !important;    
}
.itemHead > .btn {
    background-color: rgba(177, 137, 137, 0) !important;
    font-size: 5vw !important;
    color: #000000 !important;
    padding: 0 ;
    margin: 0;
    border: 0;
    
}
.itemOptions{
    width: 45vw !important;    
    left: 0;
    right: 0;
    align-content: center;
    bottom: 0;
    position: absolute !important;
    padding: 0 !important;    
}
.itemOptions > .btn {
    background-color: rgba(255, 255, 255, 0.548) !important;
    padding: 0 !important;
}
.itemOptions > .btn > img{
    width: 5vw;
    height: 5vw;
    min-width: 24px;
    min-height: 24px;    
    bottom: 2vw !important;
    align-content: center;
}
.FridgeList {
    background-color: #bae8e8;

    height: 100%;    
}
.listItem {
    width: 100vw !important;
    padding-right: 5vw !important;
    height: fit-content;
    background-color: #bae8e8;  
}
.invBar {
    width: 92vw;  
    background-color: #5bccaa !important;
    border-color: transparent !important;
    border-radius: 0% 30px 30px 0% !important;
    margin-top: 2px;
    margin-bottom: 6px;
    height: 7vh;
    text-align: justify;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
    position: relative;
    right: 2vw;
}
.subBar {
    width: 75vw;  
    background-color: #5bccaa !important;
    border-color: transparent !important;
    border-radius: 30px 0% 0% 30px !important;
    margin-top: 2px;
    margin-bottom: 6px;
    height: 7vh;
    position: relative;
    left: 15vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}  
.addbtn {
    border-radius: 50%;
    width: 20vw;
    max-width: 100px;
    height: 20vw;
    max-height: 100px;
    position: fixed;
    bottom: 60px;
    overflow: hidden;
    padding: 0;
    left: 40vw;
    right: 40vw;
    border-color: transparent;
    background-color: rgb(62, 180, 209) !important;
    box-shadow: 2.5px 2.5px#00000050;
}
.addbtn > img {
    max-width: 80px;
    max-height: 80px;
    width: 15vw;
    height: 15vw;
    align-content: center;
}