.ContainerScroller {
    overflow-x: hidden;
    overflow-y: hidden;
}
.FixedNav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    display: flex;
}
.logo {
    padding-left: 15px;
}
.navbar {     
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, .25);
    background-size: contain;
    background-attachment: fixed !important;
    padding: 0rem 0rem !important;
}
.nav-item > .dropdown-menu{     
    width: 15vw !important;   
    padding: 0; 
    margin: .1rem;
    min-width: fit-content;
}
.dropdown-menu > .dropdown-item{     
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, .25);
    padding-left: 0 !important;
    padding-right: 0 !important;  
}
.dropdown-menu > .dropdown-item > .nav-link{     
    font-size: 2.5vh;
    color: #000;
    width: fit-content;
} 
.nav-item{
    width: 20vw;
}


