.ContainerScroller {
    overflow-x: hidden;
    overflow-y: hidden;
}
.FixedNav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    display: flex;
}
.logo {
    padding-left: 15px;
}
.navbar {     
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, .25);
    background-size: contain;
    background-attachment: fixed !important;
    padding: 0rem 0rem !important;
    background-color: #ffffff !important;
    width: 100vw !important;
}

.nav-pic {
    width: 45px;
    height: 45px;
}
.userPic {
    border-radius: 50%;
    width: 25vw;
    height: 25vw;
    min-width: 45px;
    max-width: 45px;
    min-height: 45px; 
    max-height: 45px;  
    background: rgb(0, 0, 0);
}


