.App {
  text-align: center;
}
.App-container {
  max-height :"100px";
  min-width :"100px";
  height:450min;
  width:100%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.carousel-item {
  height: 72vh;
  background-color: grey;

}
.carousel-item img {
  display: blockk;
  height: inherit;
  object-fit: contain;
}

.carousel-caption {
  background-color: #8f99ad96 !important;
  color: rgb(0, 0, 0) !important;
}  

